{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card shadow p-4">
      <h4 class="text-center mb-3">Login</h4>

      <form method="POST">
        <input name="username" class="form-control mb-2" placeholder="Username" required>
        <input type="password" name="password" class="form-control mb-3" placeholder="Password" required>
        <button class="btn btn-primary w-100">Login</button>
      </form>

      <div class="text-center mt-3">
        <a href="#" data-bs-toggle="modal" data-bs-target="#forgotModal">Forgot password?</a>
      </div>

      <p class="text-center mt-2">
        New user? <a href="{{ url_for('register') }}">Register</a>
      </p>
    </div>
  </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotModal">
  <div class="modal-dialog">
    <form method="POST" action="{{ url_for('forgot') }}" class="modal-content p-4">
      <h5>Reset Password</h5>
      <input type="email" name="email" class="form-control my-2" placeholder="Enter email" required>
      <button class="btn btn-success">Send Reset Link</button>
    </form>
  </div>
</div>

{% endblock %}
